@import url("https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
body {
  background: #1e1e2e; }

.container {
  width: 100%;
  text-align: center; }

h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Roboto Mono';
  color: #cdd6f4;
  font-weight: 400;
  font-style: normal; }

a {
  background: #6c7086;
  padding: 0.4%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  text-decoration: none; }
